.tag-content {
    padding: 0 40px;
}

.tag {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #39f;
}

.tag a {
    text-decoration: none;
    color: #FFF;
}

hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

.page-header {
    margin: 10px;
}

.page-header .color {
    color: #39f;
}

.highlight {
    margin: 0 40px 40px;
    padding: 10px;
    overflow: auto;
}

.highlight .err {
    background-color: transparent;
}

.lineno {
    margin-right: 12px;
}

header .h-wrap {
    background: black;
}

    header .h-wrap h1.title a {
        color: #fff;
        font-size: 30px;
        font-weight: 100;
    }

        header .h-wrap h1.title a:hover {
            color: #fff;
        }

    header .h-wrap .menu-icon .lines::before,
    header .h-wrap .menu-icon .lines::after,
    header .h-wrap .menu-icon .lines {
        background: #fff;
    }

#home {
    padding: 0 50px;
}

section#single-wrap {
    max-width: 950px;
}

    section#single-wrap p {
        text-align: justify;
    }

ul.posts {
    max-width: 950px;
    margin: 50px auto;
}

ul.posts li {
    border-bottom: 1px solid #d7d7d7;
    font-family: 'Lora', Georgia, serif;
}

    ul.posts li .p-wrap {
        background: inherit;
        padding: 20px 0;
    }

    ul.posts li .p-wrap:hover {
        background: inherit;
        padding: 20px 0;
    }

    ul.posts li a {
        color: inherit;
    }

    ul.posts li .date {
        color: #989898;
    }

#pagination {
    font-family: 'Lora', Georgia, serif;
    text-align: center;
}

#pagination a {
    color: #39f;
    text-decoration: none;
}

.emoji {
    width: 20px !important;
    height: 20px !important;
}

h2 + .highlighter-rouge,
h3 + .highlighter-rouge,
h4 + .highlighter-rouge { 
    margin-top: 20px;
}

section#single-wrap .feat.related-posts {
    margin-bottom: 20px;
}

section#single-wrap .related-posts-title {
    position: relative;
    background: #FFF;
    padding: 0 20px;
    top: 11px;
    display: inline-block;
    font-size: 82%;
}

.related-posts-list {
    font-size: 16px;
    margin-bottom: 20px;
}

section#single-wrap ul.related-posts-list li {
    margin-bottom: 8px;
}

body section#single-wrap img.img-auto {
    width: auto;
    height: auto;
}
